/* Colores a usar: https://colorhunt.co/palette/f6f4e6fddb3a52575d41444b */
$blanco: #F6F4E6;
$color-primario: #FDDB3A;
$color-secundario: #52575D;
$color-terceario: #41444B;
$gris-traslucido: rgba(180, 180, 180, 0.801);

.bodyIndex {
    background-image: url("https://images.pexels.com/videos/5466776/accounting-money-tax-taxes-5466776.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500;")
    ;
    .tituloIndex{
        width: 40%;
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgba(180, 180, 180, 0.801);
        padding: 10px;
        text-align: center;
    }
    .formularioIngreso{
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgba(180, 180, 180, 0.801);
        position: absolute;
        .tituloForm{
            text-align: center;
        }
        .active{
            opacity: 0;
            visibility: hidden;
            transition: all .5s;
        }
    }
    .formularioRegistro{
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgba(180, 180, 180, 0.801);
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
        .tituloForm{
            text-align: center;
        }
        .active{
            opacity: 1;
            visibility: visible;
        }
    }
}
.bodyMain{
    display: grid;
    .navbar-nav{
        margin-left: 80px;
    }
    .iconoLogo{
        width: 100px;
        height: 100px;
    }
    
}